@font-face {
    font-family: 'Open Sans';
    src: url(media/fnt/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: 'Open Sans';
    padding-top: 3vh;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f7f7f7;
    color: #202020;
}

ul {
	padding-left: 8%;
}

a.download {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.downloadcontainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spacer {
    border-bottom: 30px solid transparent;
}