@font-face {
    font-family: 'Dot Gothic';
    src: url(assets/DotGothic16/DotGothic16-Regular.ttf);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

head, body {font-family: 'Dot Gothic'; margin: 0; padding: 0;}

nav {font-size: 5vh; margin: 2vh;}

nav .japanese {font-size: 2vh; display: inline;}

.type {animation: blink 1.25s step-end infinite; display: inline;}

.text, ul {font-size: 2.2vh; margin: 2.2vh; margin-top: 2vh;}

.heading {font-size: 3.4vh; margin: 2.2vh; margin-top: 3vh;}

li {margin: 1vh;}

footer {position: fixed; bottom: 0; border: 3vh rgb(241, 241, 241) solid; text-align: center; width: 100%; background-color: rgb(241, 241, 241);}
